<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" routerLink="/">Project Management</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto" routerLinkActive="active">

      <li class="nav-item">
        <a class="nav-link" routerLink="/public">User List</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/projects">Project List</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/client-list">Our Clients</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/job-item">To-Do List</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">Username</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="/admin/projects">My Projects</a>
        </div>
      </li>
      <li class="nav-item">
        <a routerLink="/" class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item dropdown active" >
        <a class="nav-link dropdown-toggle" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">{{username}}</a>
        <div class="dropdown-menu" aria-labelledby="dropdown02">
          <a class="dropdown-item" routerLink="/admin/projects">My Projects</a>
        </div>
      </li>
      <li class="nav-item">
        <a routerLink="/" class="nav-link" (click)="logout()">Logout</a>
      </li>

    </ul>


  </div>
</nav>
